@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"].</h1>
<p>
    Your password has been reset. Please <a asp-area="Admin" asp-controller="Account" asp-action="Login">Chọn vào đây để đăng nhập</a>.
</p>
