<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right hidden-xs">
        Công nghệ thắp sáng tương lai
    </div>
    <!-- Default to the left -->
    <strong>Bản quyền &copy; 2022 <a href="https://vifiretek.vn">ViFireTek Ltd</a>.</strong>.
</footer>